<h1>Edit Article</h1>

<%# If there were any errors with posting the article, display
to the end user in an unordered list %>
<%= render 'form'%>
<%= link_to "Cancel edit and return to Articles listing", articles_path %>